.container1 {
    font-family: 'Noto Sans', sans-serif;
    margin-top: 1px;
}
h3 {
    margin-bottom: 30px;
}
th {
    height: 4%;
    text-align: center;
}
td {
    height: 4%;
}
.today {
    background: orange;
}
th:nth-of-type(1), td:nth-of-type(1) {
    color: red;
}
th:nth-of-type(7), td:nth-of-type(7) {
    color: blue;
}

.container1{
    width: 100px;
}